#about-me {
  float: left;
  width: 1200px;
  height: 400px;
  background-image: url("images/1_cmofspfso-joanna-kosinska.jpg");
  background-repeat: no-repeat;
  margin-top: 20px;

  h2 {
    margin-left: 425px;
    padding-top: 100px;
    color: white;
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 3.6em;
  }

  p {
    margin-left: 320px;
    padding-top: 20px;
    font-size: 1.8em;
    color: white;
  }
}
