a {
  color: $clr-body-dark;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

blockquote {
  background-color: $clr-body-light;
  margin: 0;
  padding: 40px 40px;
  p {
    font-size: 1.6rem;
  }
}

body {
  color: $clr-body-dark;
  font-weight: 300;
  width: 1024px;
  margin: 0 auto;
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}

figure {
  float: right;
  margin: 0 0px 20px 40px;
}

footer {
  text-align: center;
  margin: 40px;
}

h1 {
  font-size: 2.4rem;
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: normal;
  a {

    &:hover {
      text-decoration: none;
    }
  }
}

h2 {
  text-align: center;
  font-weight: normal;
  font-size: 2.4rem;
  font-family: 'Lora', serif;
}

h3 {
  text-align: center;
  font-weight: normal;
  font-size: 1.8rem;
  font-family: 'Lora', serif;
}

html {
  font-size: 10px;
}

li {
  list-style-type: none;
}

main {
  padding: 20px;
}

p {
  font-size: 1.4rem;
  line-height: 200%;
  margin: 0 0 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
