.grammar-text {
  font-size: 24px;
}

.mb-consult-intro {
  float: left;
  width: 1024px;
  margin: 0 auto;
  background: rgba(180, 179, 178, 0.3);
  
  button {
    float: left;
    margin-left: 220px;
    padding: 10px;
    border: none;
    color: black;
  }
}

.mbti-assets {
  float: left;
  li {
    font-size: 1.4em;
    list-style: circle;
  }
}

.mb-consult {
  float: left;
  width: 1200px;
  height: 400px;
  background-image: url("images/1_cmofspfso-joanna-kosinska.jpg");
  background-repeat: no-repeat;
  margin-top: 20px;

  h2 {
    margin-left: 308px;
    padding-top: 100px;
    color: white;
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 3.6em;
  }

  img {
    float: left;
    width: 50px;
    margin-top: 20px;
    margin-left: 475px;
  }

  p {
    margin-left: 320px;
    padding-top: 20px;
    font-size: 1.8em;
    color: white;
  }
}

.page-icon {
  width: 310px;
  height: 360px;
  margin-top: 20px;
  margin-left: 50px;
  position: absolute;
  left: 200px;
}
