header {
  display: flex;
  align-items: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
  img {
    width: 100px;
    margin-right: 10px;
    margin-top: 0px;
  }
}

nav {
  ul {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    border-bottom: 4px solid $clr-primary-dark;
  }
  li {
    padding: 0;
    a {
      color: $clr-primary-dark;
      display: block;
      padding: 8px 20px;
      &:hover {
        text-decoration: none;
        background-color: $clr-primary-light;
      }
    }
    &.active a {
      background-color: $clr-primary-dark;
      color: $clr-primary-light;
    }
  }
}
