@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Open+Sans:300,300i,400,400i,700,700i');

$clr-primary-light: #c0edec;
$clr-primary-dark: #006264;
$clr-secondary-light: #fff5dd;
$clr-secondary-dark: #efb645;
$clr-body-dark: #5b574f;
$clr-body-light: #f9f9f7;
